<div id="paytr-loader">
  <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
  <iframe src="https://www.paytr.com/odeme/guvenli/{{ iframe_token }}"
          id="paytriframe"
          frameborder="0"
          scrolling="no"
          style="width: 100%;">
  </iframe>
  <script type="text/javascript">
    setInterval(function () {
      iFrameResize({}, '#paytriframe');
    }, 1000);
  </script>
</div>